#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.locSearchCont {
  display: flex;
  justify-content: center;
  height: 50px;
  gap: 10px
}

.searchBar {
  width: 350px;
  border-radius: 5px;
  font-size: 20px;
  border: 2px solid gray;
  padding: 0 10px;
}

.searchButton {
  border-radius: 5px;
  font-size: 20px;
  border: 2px solid gray;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.searchIcon {
  filter: invert(100%) sepia(100%) saturate(0%);
}

.weatherTableCont {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.weatherDayCont {
  display: flex;
  flex-direction: column;

  width: 180px;
  height: 260px;
  background-color: #131313;
  border: 3px solid gray;
  border-radius: 10px;
  padding: 10px;

  font-size: 20px;
}

.weatherIcon {
  font-size: 60px;
  padding: 20px 0;
}

@media (max-width: 450px) {
  #root {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  .header {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 40px;
  }
  
  .weatherLocation {
    font-size: 20px;
  }

  .weatherTableCont {
    margin-top: 10px;
  }
}

@media (max-width: 350px) {
  .locSearchCont {
    flex-wrap: wrap;
    height: unset;
  }

  .searchBar {
    height: 50px;
  }
}